body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
button{
    width: 200px;
    height: 200px;
}
.emoji{
    font-family: 'Noto Color Emoji', sans-serif;
    font-size: 100px;
}
