body{
    display: flex;
    background-color: #a271b2;
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.button{
    width: 150px;
    height: 150px;
    background-color: #795182;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}
button img{
    width: 100%;
    object-fit: cover;
}
.result-top-row{
    display: flex;
    justify-content: space-around;
}
.result-bottom-row{
    text-align: center;
}